export(bayesPredsF)
export(bayesMargEffF)
export(bayesMargCompareF)
export(bayesCountPredsF)
S3method(print, bayes_mean_scale_pred)
S3method(print, bayes_mean_scale_marg)
S3method(print, bayes_mean_scale_marg_compare)
importFrom(bayestestR, hdi)
importFrom(data.table, as.data.table)
importFrom(data.table, data.table)
importFrom(data.table, melt)
importFrom(data.table, setDT)
importFrom(data.table, setnames)
importFrom(magrittr, `%>%`)
importFrom(stats, as.formula)
importFrom(stats, formula)
importFrom(stats, median)
importFrom(stats, model.frame)
importFrom(stats, model.matrix)
importFrom(stats, na.omit)
importFrom(stats, pnorm)
importFrom(stats, quantile)
import(rstanarm)
